[Unit]
Description=SLIC Django Staging
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=notify
User=sa_eg4hwx
Group=sa_eg4hwx
WorkingDirectory=/srv/slic/staging/slic
EnvironmentFile=/srv/slic/staging/slic/.env
ExecStart=/srv/slic/staging/slic/.venv/bin/gunicorn \
    --config /srv/slic/staging/slic/gunicorn.conf.py \
    slic.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
