{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
{% url 'contact_us' as contact_url %}
<div class="jumbotron mb-3">
  <h1 class="display-5">{% trans "Welcome to SLIC" %}</h1>
  <p class="lead">{% trans "SLIC - Salient Language In Context" %}</p>
  <p>{% trans "This research software allows researchers to collect data about which features of language people pay attention to as they hear it in real time, and provides listeners with the ability to review their reactions and justify why they reacted." %}</p>
</div>
<div class="card mb-3 text-center">
  <div class="card-header">{% trans "If you are a researcher" %}</div>
  <div class="card-body">
    <p>{% trans "To use SLIC as a researcher you will need to register for an account. To register you will need an invitation code." %} {% blocktrans with url=contact_url %}To request one, use the <a href="{{ url }}">Contact</a> link in the navigation bar above.{% endblocktrans %}</p>
    <p>{% trans "SLIC is free to use for non-commercial research. If you use SLIC to collect data, please cite: Montgomery, Walker &amp; Woods (2025), <em>Linguistics Vanguard</em> 11(1): 397-406. <a href='https://doi.org/10.1515/lingvan-2025-0028' target='_blank' rel='noopener'>doi:10.1515/lingvan-2025-0028</a>" %}</p>
    <p>
      {% trans "To access the website's documentation please follow this link:" %}
      <a href="{% url 'documentation' %}" title="{% trans 'See the documentation' %}">
        <i class="fas fa-book"></i> {% trans "User guide" %}
      </a>
    </p>
  </div>
</div>
{% endblock %}
